/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.search-input {
  width: 150px;
  outline: none;
  background-color: #f1f5f9;
  border: none;
}
.search-icon {
  width: 30px;
}
.search-container {
  display: flex;
  justify-content: center;
  background-color: #f1f5f9;
  width: 190px;
}
.totalListItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
